<% if user_signed_in? %>
  <h1>Bienvenido, <%= current_user.username %>!</h1>
  <%= button_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
  <%= button_to "Cancelar mi cuenta", user_registration_path, class: 'confirm-delete-account', method: :delete %>
    <table>
        <thead>
            <tr>
            <th>URL</th>
            <th><%= link_to 'New Link', new_link_path %></th>
            <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <% @links.each do |link| %>
            <tr>
                <td><%= link.url %></td>
                <td><%= link_to 'View Report', link_report_path(link) %></td>
                <td><%= link_to 'Show', shortened_path(link.slug) %></td>
                <td><%= link_to 'Edit', edit_link_path(link) %></td>
                <td><%= button_to 'Destroy', link_destroy_path(link), method: :delete, class: 'confirm-delete' %> </td>
                
            </tr>
            <% end %>
        </tbody>
    </table>

<% else %>
  <h1>Bienvenido a Nuestro Sitio!</h1>
  <%= link_to 'Iniciar sesión', new_user_session_path %> |
  <%= link_to 'Registrarse', new_user_registration_path %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.confirm-delete').forEach(function(element) {
    element.addEventListener('click', function(event) {
      var message = "¿Estas seguro que quieres eliminar este link?";
      if (!confirm(message)) {
        event.preventDefault();
      }
    });
  });
  document.querySelectorAll('.confirm-delete-account').forEach(function(element) {
    element.addEventListener('click', function(event) {
      var message = "¿Estas seguro que quieres eliminar esta cuenta?";
      if (!confirm(message)) {
        event.preventDefault();
      }
    });
  });
});


</script>
