<div class="form-container">
<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>
      <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :link_type %>
    <%= form.select :link_type, Link.link_types.keys.map { |type| [t("link_types.#{type}"), type] } %>

  </div>

  <div class="field field-password">
    <%= form.label :password, "Contraseña (para enlaces privados)" %>
    <%= form.password_field :password %>
  </div>

  <div class="field field-expiration">
    <%= form.label :expiration_date, "Fecha de expiración (para enlaces temporales)" %>
    <%= form.datetime_select :expiration_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var linkTypeSelect = document.querySelector('#link_link_type');
    var passwordField = document.querySelector('.field-password');
    var expirationField = document.querySelector('.field-expiration');

    function toggleFields() {
      var linkType = linkTypeSelect.value;
      passwordField.style.display = linkType === 'private_link' ? 'block' : 'none';
      expirationField.style.display = linkType === 'temporal' ? 'block' : 'none';
    }

    function togglePasswordField() {
      passwordField.style.display = linkTypeSelect.value === 'private_link' ? 'block' : 'none';
    }

    linkTypeSelect.addEventListener('change', toggleFields);
    linkTypeSelect.addEventListener('change', togglePasswordField);

    // Ejecutar al cargar la página para establecer el estado inicial
    toggleFields();
    togglePasswordField();

    function updateLinkTypeFields() {
      var linkType = document.querySelector("#link_link_type").value;
      document.querySelector("#link_password_digest").style.display = linkType == "private_link" ? "block" : "none";
      document.querySelector("#link_expiration_date").style.display = linkType == "temporal" ? "block" : "none";
    }

    // Actualizar campos al cargar
    updateLinkTypeFields();

    // Actualizar campos cuando el tipo de link cambie
    document.querySelector("#link_link_type").addEventListener("change", updateLinkTypeFields);
  });
</script>