<!-- app/views/links/report.html.erb -->
<div  class="edit-link-container">
<h1 >Reporte para <%= @link.url %></h1>

<%= link_to 'Volver', home_index_path, class: 'back-link' %>
</div>
<div class="filter-form">
  <%= form_with(url: link_report_path(@link), method: :get, html: { class: 'filter-form-inner' }) do |form| %>
    <div class="form-row">
      <%= form.label :start_date, "Fecha Inicio" %>
      <%= form.date_field :start_date %>
    </div>

    <div class="form-row">
      <%= form.label :end_date, "Fecha Final" %>
      <%= form.date_field :end_date %>
    </div>

    <div class="form-row">
      <%= form.label :ip_address, "Direccion IP" %>
      <%= form.text_field :ip_address %>
    </div>

    <%= form.submit "Filtrar", class: 'filter-button' %>
  <% end %>
</div>

<!-- Resto del código para mostrar la tabla de reportes -->

<div class="content">
<table class="buttons-container">
  <thead>
    <tr>
      <th>Accedido en</th>
      <th>Direccion IP</th>
    </tr>
  </thead>
  <tbody class="buttons-container">
    <% @accesses.each do |access| %>
      <tr>
        <td><%= access.accessed_at %></td>
        <td style="text-align: center;"><%= access.ip_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="content">
<table class="buttons-container">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cantidad de accesos</th>
    </tr>
  </thead>
  <tbody class="buttons-container">
    <% @daily_accesses.each do |date, count| %>
      <tr>
        <td><%= date %></td>
        <td style="text-align: center;"><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>